.heroWrapper {
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSwiper {
  height: 100vh; /* Swiper full height */
}

.heroSlide {
  position: relative;
  width: 100%;
  height: 100vh; /* Slide full height */
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(100%);
  display: block;
  /* transition: transform 4s cubic-bezier(0.4, 0, 0.2, 1); */
}

.swiper-slide-active .heroImage {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 2rem;
  margin-top: 250px;
}

.heroContent h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.heroContent p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.viewMenu {
  margin-top: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: #e76f51;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.viewMenu:hover {
  background-color: #d45f45;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
